
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container">
    <div class="card" style="display: inline-block;">
        <a style="margin-right: 10px;" href="/users">Users</a>
        <a style="margin-right: 10px;" href="/users/add">Add user</a>
    </div>
</body>
</html>